const { Interaction } = require('discord.js')
const { SlashCommandBuilder } = require('@discordjs/builders');

const meta = new SlashCommandBuilder()
    .setName('ping')
    .setDescription('Replies with pong')
    .toJSON();

/**
 * @param {CommandInteraction} interaction
 */
async function entry_point(interaction) {
    await interaction.reply('Pong!');
}

module.exports = {
    meta,
    entry_point
}
